  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root
{
  --preto:#021024;
  --azul-1:#c1e8ff;
  --azul-2: #7da0ca;
  --azul-3: #5483b3;
  --font-primaria: 'Montserrat', sans-serif;
}

  *
  {
    margin: 0;
    padding: 0;
  }

  body 
  {
      /* height: 100vh; */
      background-image: url(/Public/Debbie\ Balboa.gif);
      background-size:cover ;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: var(--azul-1)
  }
  .cabecalho
  {
  padding: 2% 0% 0% 10%;
  
  }

  .cabecalho-nav
  {
  display: flex;
  gap: 80px;

  }

  .link-nav
  {
    font-family:var(--font-primaria);
    font-weight: 600;
    color: var(--azul-2);
    font-size: 1.5rem;
    text-decoration: none;
  }

  .conteudo
  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5% 15%;
      gap: 82px;
  }

  .conteudo-section
  {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
  }

  .titulo
  {
    font-size: 2.25rem;
      color: var(--azul-1)

  }

  .titulo1
  {
  color: var(--azul-3);
  }

  .titulo2
  {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
  }
  .texto
  {
    font-size: 16px;
    font-family: var(--font-primaria);
  }
  
  .botao 
  {
  display: flex;  
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  }

  .link
  {
    /*background-color: #c1e8ff;*/   
    border: var(--azul-3) 2px solid;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    margin: 10px;
    padding: 21.5px  0px;
    text-decoration: none;
    color:  var(--azul-1);
    font-family: var(--font-primaria);
    font-weight: 600;  
    display: flex;
    justify-content: center;
    gap: 16px;
    background: linear-gradient( 40deg, var(--azul-3), var(--azul-1));
  }

  .link:hover 
  {
    color: var(--preto);
    background:linear-gradient(40deg, var(--azul-1), var(--azul-3))
  
  }

  .rodape
  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--azul-1);
    display: flex;
    justify-content: center;
    background-color: var(--azul-3);
    padding: 24px;
    text-align: center;
  }

  @media (max-width: 1200px)
  {
    .cabecalho
    {
      padding: 10%;
      justify-content: space-between;
    }
    .cabecalho-nav
    {
      justify-content: center;
    }
    .conteudo
    {
      flex-direction: column-reverse; 
      padding: 5%;
    }

    .conteudo-section
    {
      width: auto;
    }

  }
  